@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* /src/views/Home.tsx */

@import "./views/Home.module.css";
@import "./components/NavBar.module.css";
@import "./components/NavButton.module.css";
@import "./components/Hero.module.css";
@import "./components/Footer.module.css";
@import "./components/ColumnFooter.module.css";

body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
}

main {
  height: auto;
  margin: 100px 0;
}


