@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Bloque de productos */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  