
.sales-block {
    margin-top: 80px;
  }

  .sales-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 0;
  }

  .sales-title img:hover {
    border-radius: 10px;
    background-color: #ebebeb;
  }
  
  .sales-title h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 40px;
  }

  .product-container {
    max-width: 100%;
    width: inherit;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    }