
.product-checkout-block {
    /* Definimos flex 1 las 3 columnas para que ocupen el mismo espacio*/
    flex: 1;
  }
  .checkout-container {
    background-color: #ebebeb;
    padding: 33px;
    border-radius: 2px;
  }
  
  .checkout-total-label {
    color: #ff3b3c;
  }
  
  .checkout-total-price {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .checkout-description {
    line-height: 20.4px;
    word-wrap: break-word;
  }
  
  .checkout-policy-list {
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
  }
  
  .checkout-policy-list li {
    display: flex;
    margin: 15px 0;
  }
  
  .checkout-policy-list li .policy-icon {
    margin-right: 15px;
  }
  
  .checkout-process {
    row-gap: 20px;
  }
  
  .checkout-process .top {
    display: flex;
    margin-bottom: 10px;
  }
  
  .checkout-process .top input {
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 62px;
    margin-right: 10px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
  }
  
  button {
    cursor: pointer;
  }
  
  .btn-primary {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
  }
  
  .btn-outline {
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #ff3b3c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
  }

  .btn-off {
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #e9730c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
  }